@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    max-width: 1400px;
    margin: 0;
    border: 0;

}
html, body {
    display:block;
    height: 100%;
    margin: 0;
}

.container {
    width: 800px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header {
background: url("../img/elephant.png") no-repeat center / cover rgba(0, 0, 0, 0.47);
background-blend-mode: color-dodge;
background-attachment: scroll;
background-position: 0px 0px;
height: 100%;
width: 100%;
flex-direction: column;
cursor: default;
line-height: 1;
font-family: 'Rubik', sans-serif;
margin: 0 auto;
padding-top: 24px;
padding-bottom: 24px;
padding-left: 32px;
padding-right: 32px;
align-items: center;
justify-content: space-between;
}

.navbar-default {
  background: none;
}

.navbar-brand {
    max-width: 100%;
    position: relative;
    margin: auto;
	height: auto;
    display: flex;
    cursor: pointer;
    padding-top: 24px;
    padding-bottom: 30px;
    color: #f7c702;
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
    font-weight: 500;
    text-transform: capitalize;
    text-align: left;
    text-decoration: none; 

}

.selected {
    font-weight: bold;
}

header .banner h1 {
    color: #f7c702;
    font-size: 58px;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 63.8px;
    text-align: left;
    padding-top: 140px;
    padding-bottom: 30px;
}

a.button {
  color:white; 
  text-decoration: none; 
  user-select: none; 
  background: transparent;
  padding: .7em 1.5em; 
  outline: none;
  border-radius: 20px;
  padding-left: 32px;
} 

a.button:hover { 
    background: white;
    color: black; 
}
.navbar-collapse {
    color: white;
}

.black-logo {
    color: black;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 34px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: white;
  background-position: 0px 0px;
  height: 100%;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 32px;
  padding-right: 32px;
  position: relative;   background-attachment: scroll;

}
.grid-item {
  background-color: rgb(247, 199, 2);
  border: 20px solid white;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  font-family: Rubik, sans-serif;
  font-size: 16px;

}
.product-card {
    background-color: #3a3031;
    display: grid;
    grid-template-columns: repeat(1fr 1fr 1fr 1fr);
    grid-column: 1/4;
    justify-content: center;
    color: white;
    border: 20px solid white;
    text-align: center;
    font-family: Rubik, sans-serif;
    background-position: 0px 0px 0px 0px;
    align-items: center;
      height: 100%;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 32px;
  padding-right:32px;
  background-attachment: scroll;

}
#destinations {
    color: white;
}